@charset "UTF-8";

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #fdeff2;
    color: #333333;
    text-align: center;
    font-size: 1.6rem;
    font-family: Dosis, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

ul {
    list-style:none;
}

.background-image {
    background: #000000 url("../../images/bg.png") no-repeat fixed left top;
    background-size: auto 576px;
}

.opaque-background {
    height: 100%;
    background: rgba(255,255,255,0.8);
}

.header {
    padding:170px 30px 80px;
}

.site-title {
    margin:50px 0 40px;
    font-size: 7.6rem;
}

.site-description {
    margin-bottom: 50px;
    color: #333;
    font-size: 2rem;
}

.button {
    display:inline-block;
    width:110px;
    padding:20px;
    border-radius: 4px;
    background-color: #fdeff2;
    color: #c85179;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 2rem;
}

.button:hover {
    background-color: #c85179;
    color: #fdeff2;
    opacity: 0.9;
}

.buttons .button {
    margin: 10px;
}

.about {
    padding: 80px 30px;
    background-color: #333333;
    color: #fdeff2;
}

.heading {
    margin: 30px 0 15px;
    letter-spacing: 2px;
    font-size: 4rem;
}

.about-title {
    margin: 20px 100px;
    line-height: 2;
    font-size: 2rem;
}

.about-text {
    margin: 20px 100px;
    line-height: 2;
}

.about .about-text a{
    color: #fdeff2;
}

.skills {
    padding: 80px 0;
    background-color: #fdeff2;
    color: #333333;
}

.skills-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 30px;
    table-layout: fixed;
}

.skill-box {
    display: table-cell;
}

.skill-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border: 4px solid;
    border-radius: 50%;
    color: #c85179;
    font-size: 8rem;
    line-height: 142px;
}

.skill-title {
    margin: 0 20px 20px;
    font-size: 2rem;
}

.skill-text {
    margin: 0 20px;
    line-height: 2;
}

.works {
    padding: 80px 0;
    background-color: #333333;
    color: #fdeff2;
}

.works-wrapper {
    display: table;
    width: 80%;
    margin: 60px auto;
    table-layout: fixed;
}

.work-box {
    display: table-cell;
}

.work-image {
    display: block;
    width: 100%;
}

.work-sub-header{
    font-size: 2rem;
}

.work-text {
    vertical-align: middle;
    line-height: 2;
}

.work-text .button {
    width: 30%;
    margin-top: 20px;
    padding: 3px;
}

.button-ghost {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.15);
}

.mind {
    width: 80%;
    margin: auto;
}

.mind-title {
    margin: 20px auto;
    line-height: 2;
    font-size: 2rem;
}

.mind-text {
    margin: 20px auto;
    line-height: 2;
}

.contact {
    padding: 80px 30px;
    background-color: #333333;
    color: #fdeff2;
}

.contact-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 30px;
    table-layout: fixed;
}

.contact-box {
    display: table-cell;
}

.contact-icon {
    width: 60px;
    height: 60px;
    margin: 10px 30px;
    border: 3px solid;
    border-radius: 50%;
    color: #c85179;
    font-size: 4rem;
    line-height: 55px;
}

.footer {
    background: #c85179;
    padding: 12px 0;
    font-size: 1.3rem;
}

@media (width: 500px) {
    .body {
        font-size: 1.3rem;
    }

    .header {
        padding-top: 60px;
    }

    .site-title {
        margin-top: 35px;
        font-size: 5rem;
    }

    .background-image {
        background: #000000;
    }

    .opaque-background {
        height: 100%;
        background: rgba(255,255,255,0.5);
    }

    .button:hover {
        opacity: 1;
    }

    .heading {
        font-size: 2.5rem;
    }

    .about-text {
        margin: 20px auto;
        line-height: 1.8;
    }

    .skills-wrapper,
    .skill-box {
        display: block;
    }

    .skill-box {
        margin: 40px auto;
    }

    .skill-icon {
        width: 100px;
        height: 100px;
        font-size: 5rem;
        line-height: 92px;
    }

    .works-wrapper,
    .work-box {
        display: block;
    }

    .work-text {
        position: relative;
    }

    .work-box::after {
        top: 0;
        height: 100%;
        background-size: cover;
    }

    .work-text .button {
        width: 150px;
        margin-top: 20px;
        padding: 3px;
    }

    .contact {
        padding-bottom: 20px;
    }

    .contact-icon {
        width: 45px;
        height: 45px;
        margin: 10px 30px;
        border: 3px solid;
        border-radius: 50%;
        color: #c85179;
        font-size: 2.5rem;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .body {
        font-size: 1.3rem;
    }

    .header {
        padding-top: 60px;
    }

    .background-image {
        background: #000000;
    }

    .opaque-background {
        height: 100%;
        background: rgba(255,255,255,0.5);
    }

    .site-title {
        margin-top: 35px;
        font-size: 5rem;
    }

    .button:hover {
        opacity: 1;
    }

    .heading {
        font-size: 2.5rem;
    }

    .about-text {
        margin: 20px auto;
        line-height: 1.8;
    }

    .skills-wrapper,
    .skill-box {
        display: block;
    }

    .skill-box {
        margin: 40px auto;
    }

    .skill-icon {
        width: 100px;
        height: 100px;
        font-size: 5rem;
        line-height: 92px;
    }

    .works-wrapper,
    .work-box {
        display: block;
    }

    .work-text {
        position: relative;
    }

    .work-box::after {
        top: 0;
        height: 100%;
        background-size: cover;
    }

    .work-text .button {
        width: 150px;
        margin-top: 20px;
        padding: 3px;
    }

    .contact {
        padding-bottom: 20px;
    }

    .contact-icon {
        width: 45px;
        height: 45px;
        margin: 10px 30px;
        border: 3px solid;
        border-radius: 50%;
        color: #c85179;
        font-size: 2.5rem;
        line-height: 40px;
    }
}